<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fd1951dcdd.js" crossorigin="anonymous"></script>
    <title>Form Child</title>
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        form{
            background-image: url("/static/lost.webp");
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        /* form {
            background-color: aliceblue;
        } */

    </style>
</head>

<body>
    <section class="h-100 bg-light">
        <div class="container py-5 h-100">
            <a href="/back/{{id}}" class="" onclick="event.preventDefault(); document.getElementById('home').submit();"><i class="fa-solid fa-lg fa-arrow-left rounded-5 p-4 spinner-grow bg-light"></i></a>
            <form id="home" action="/back/{{id}}" method="POST" style="display: none;">
              @csrf
            </form>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <form action="/addchild/{{id}}" enctype="multipart/form-data" method="post" class="col needs-validation m-0" novalidate>
                                <h3 class="text-center m-5">Informations Personelles :</h3>
                                <div class="card-body p-md-5 text-black">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="nom" name="nom"
                                                    class="form-control form-control-lg" required/>
                                                <label class="form-label" for="nom">First name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="prenom" name="prenom"
                                                    class="form-control form-control-lg" required/>
                                                <label class="form-label" for="prenom">Last name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                            <div class="col-md-6 mb-4">
                                                <h6 class="mb-0 me-4">Group sanguin et rhésus: </h6>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <select class="form-select w-50" name="sanguin" required>
                                                    <option value="" disabled selected>Group sang</option>
                                                    <option value="A+">A+</option>
                                                    <option value="B+">B+</option>
                                                    <option value="O+">O+</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B-">B-</option>
                                                    <option value="O-">O-</option>
                                                    <option value="AB-">AB-</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select one.
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="mother" name="mother"
                                                    class="form-control form-control-lg" required/>
                                                <label class="form-label" for="mother">Mother's name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="father" name="father"
                                                    class="form-control form-control-lg" required/>
                                                <label class="form-label" for="father">Father's name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="tel" id="phone" name="phone"
                                                    class="form-control form-control-lg" placeholder="Tel (0xxxxxxxxx)" pattern="[0]{1}[0-9]{9}" minlength="10" maxLength="10" required/>
                                                <label class="form-label" for="phone">Mother's Phone Number</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="tel" id="phone2" name="phone2"
                                                    class="form-control form-control-lg" placeholder="Tel (0xxxxxxxxx)" pattern="[0]{1}[0-9]{9}" minlength="10" maxLength="10" required/>
                                                <label class="form-label" for="phone2">Father's Phone Number</label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <input type="text" id="adress" name="adress" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="adress">Address</label>
                                    </div>

                                    <div class="d-md-flex justify-content-between align-items-center mb-4 py-2">
                                        <h6 class="mb-0 w-75">Add picture of the child : </h6>
                                        <input type="file" id="image" name="image" class="form-control form-control-lg"/>
                        
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="email">Email :</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="date" class="form-control form-control-lg" name="dateNaissance" id="dateNaissance" required/>
                                        <label class="form-label" for="date">Date de naissance :</label>
                                    </div>

                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="more">Important Information </label>
                                            <textarea class="form-control form-control-lg fw-lighter fs-6" name="more" id="more" cols="10" rows="5" placeholder="Tell us more information like medicines or health broblems...etc"></textarea>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center pt-3 mb-4">
                                        <button type="submit" class="btn btn-outline-primary btn-lg ms-2">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict';

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation');

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms).forEach((form) => {
    form.addEventListener('submit', (event) => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
})();
</script>
