<!DOCTYPE html>
<html>
<head>
    <title>user</title>
    <script>
        function generateCode() {
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var codeLength = 6;
            var code = '';
            for (var i = 0; i < codeLength; i++) {
                var randomIndex = Math.floor(Math.random() * characters.length);
                code += characters.charAt(randomIndex);
            }
            document.getElementById('codeInput').value = code;
        }
    </script>
</head>
<body>
    Welcome {{username}}!
    <form action="/generateCode/{{username}}" method="post">
        <input type="text" id="codeInput" name="unique_code" value="{{person['unique_code']}}" readonly>
        <button type="submit" onclick="generateCode()">Generate</button>
    </form>
</body>
</html>
